.card-title {
    align-self: center;
    color: black;
}

#band-result {
    font-size: 32px;
}

@media (min-width:768px){
    nav{
        display: block !important;
    }
}

#bandsintown {
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#searchbar {
    margin-top: auto;
}

#titlebar {
    margin-bottom: auto;
}

p {
    font-size: 18px;
    font-weight: lighter;
}

input {
    color: white;
}